/*
  CSS for Weird Flex
*/

@import url('https://fonts.googleapis.com/css?family=Lato');

/* Layout */

body {
  background-color: #434343;
  font-family: 'Lato', sans-serif;
  color: white;
}

main {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#flex-desc {
  height: 75vh;
  min-width: 45vw;
  overflow-y: scroll;
  padding: 2%;
  margin-right: 5vw;
}

.collapse-content {
  display: none;
}

/* Typography */

label {
  padding: 2px 5px;
  border-radius: 2px;
}

label, p, textarea, pre {
  font-size: 14pt;
}

h1 {
  text-align: center;
}

/* Box section layout */

#flex-view {
  /* Ironic, I know */
  display: grid;
  grid-template: 1fr 40pt / 40pt 1fr;
}

#boxes-container {
  width: 500px;
  height: 500px;
  font-size: 20pt;
  border: 5pt solid silver;
  overflow: auto;
  resize: both;
}

.box {
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
  border: 5pt solid black;
  cursor: pointer;
}

.red, .box:nth-child(even) {
  background-color: #e2525e;
}

.blue, .box:nth-child(odd) {
  background-color: #029dc3;
}

.gray {
  background-color: gray;
}

.selected {
  box-shadow: inset 0px 0px 0px 5px white;
}

label.red, label.blue, label.gray, .collapse:hover {
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in;
  color: white;
}

label.red:hover {
 background-color: #f37781;
}

label.blue:hover {
  background-color: #1ebfe7;
}

label.gray:hover {
  background-color: #b9b9b9;
}

/* Collapsable */

.collapse {
  margin: 4pt 0;
  padding: 10px;
}

.collapse:hover {
  background-color: white;
  color: #434343;
}

.collapse::after {
  content: 'v';
  margin-left: 16pt;
  float: right;
}

/* Arrows */

#vertical, #horizontal {
  display: flex;
  align-items: center;
}

#vertical span, #horizontal span {
  padding: 10px;
  text-align: center;
}

#vertical {
  flex-direction: column;
  border-radius: 5px 0 0 5px;
  grid-area: 1 / 1 / 2 / 2;
}

#horizontal {
  border-radius: 0 0 5px 5px;
  grid-area: 2 / 2 / 3 / 3;
}

.arrow-head-up, .arrow-head-down, .arrow-head-left, .arrow-head-right {
  width: 0;
	height: 0;
	border: 6pt solid transparent;
}

.arrow-head-up {
	border-bottom: 10pt solid white;
}

.arrow-head-down {
	border-top: 10pt solid white;
}

.arrow-head-left {
	border-right: 10pt solid white;
}

.arrow-head-right {
	border-left: 10pt solid white;
}

.arrow-body-vertical {
  width: 4pt;
  height: 100%;
  background-color: white;
}

.arrow-body-horizontal {
  height: 4pt;
  width: 100%;
  background-color: white;
}

/* Textarea */

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 14pt;

  resize: none;

  background-color: #101010;

  border: 2pt solid #101010;
  border-radius: 2px;
  outline: none;

  color: white;

  transition: border-color 0.2s ease-in;
}

textarea:focus {
  border-color: gray;
}
